@font-face {
    src: url("CursedTimer.ttf");
    font-family: CursedTimer;
}

body {
    margin: 0;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}

.container {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    height: 360px;
    background-color: #1B244A;
    margin: 60px auto 0;
    border-radius: 5px;
}


.home-text,
.guest-text {
    font-weight: 700;
    font-size: 40px;
    color: #EEEEEE;
    margin-bottom: 20px;
}

#home-score,
#guest-score {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background: black;
    width: 155px;
    height: 120px;
    border-radius: 5px;
    color: #F94F6D;
    font-family: cursedTimer;
    font-size: 90px;
    font-weight: 900;
}

button {
    color: #9AABD8;
    background: #1B244A;
    border-radius: 5px;
    border: 2px solid #9AABD8;  
    width: 45px;
    height: 45px;  
    margin-top: 20px;
    font-family: cursedTimer;
}

#home-btn,
#guest-btn {
    display: flex;
    justify-content: space-between;
}

#restart-el {
    text-align: center;
    width: 200px;
    font-size: 20px;
    color: #EEEEEE;
    margin-top: 0;
}